
<mat-card class="example-card">
    <mat-card-header>
      <h2>Excavation Calculator</h2>
    </mat-card-header>
    <hr>
    <div>
        <form [formGroup]="form">
            <mat-form-field class="meassures" (ngSubmit)="calculate()">
                <mat-label>Length</mat-label>
                <input matInput formControlName="length" type="number" >
              </mat-form-field>
              <mat-form-field class="meassures">
                <mat-label>Width</mat-label>
                <input matInput formControlName="width" type="number">
              </mat-form-field>
              <mat-form-field class="meassures">
                <mat-label>Depth</mat-label>
                <input matInput formControlName="depth" type="number">
              </mat-form-field>
              <mat-form-field appearance="fill" class="meassures" style="width:100px;">
                <mat-label >Unit</mat-label>
                <mat-select formControlName="units">
                  <mat-option value="m3" >m3</mat-option>
                  <mat-option value="ft3">ft3</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-icon class="switch" (click)="switch()" matTooltip="chanage units">autorenew</mat-icon>
              <mat-form-field style="width:280px;" class="price">
                <mat-label>Excavation price per m3/ft3</mat-label>
                <input matInput formControlName="excPrice" type="number">
              </mat-form-field>
              <mat-form-field style="width:280px;"  class="price">
                <mat-label>Material removal price per m3/ft3</mat-label>
                <input matInput formControlName="remPrice" type="number">
              </mat-form-field>
        </form>
        <h2 style="margin-left:100px;margin-right:150px;">Total Volume:<span style="margin-right:5px;">{{totVol|number : '1.2-2'}}</span><span >{{activeUnit}}</span></h2>
        <h2>Total Cost:<span style="margin-right:5px">{{totPrice}}</span>$</h2>
        <hr>
    </div>
    
    <mat-card-actions class="btns">
        <button mat-button color="primary" type="submit" (click)="calculate()">Calculate</button>
        <button mat-button color="warn" (click)="clear()">Clear</button>
    </mat-card-actions>
  </mat-card>
  