.example-card{
    width:700px;
    margin-left: 35%;
    margin-top:5%;

}
.ratio{
    width:95%;

    margin-left:15px;
    
}
.meassures{
    margin-left:15px;
}
.brick{
    margin-top:3%;
    margin-left:6.5%;
    width:20px;
}
h2 {
    display: inline-block;
  }
.btns{
    margin-left:35%;
}
