.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1300px;
    margin: 20% auto;

  }


  .item{
  width: 280px;
  margin: 10px;
  height: 330px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 4px 3px 8px 0px rgba(0, 0, 0, 0.22);
  transition-duration: 0.3s;
  cursor: pointer;
  margin-right: 30px;;
  }
  .item:hover {
    box-shadow: 4px 3px 11px 6px rgba(0, 0, 0, 0.46);
    transform: translateY(-3px);
  }

 

  .description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120px;
  }
  .img{
    width: 100%;
    height: 210px;
  }
  .img2{
    width: 230px;
    height: 210px;
  }
  .container-text{
    text-align:center;
    margin-top:11%
  }
  #calc-icon{
    margin-left:45%;
  }